NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PROJECT_REF=
BOOTSTRAP_ADMIN_EMAIL=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
GA_PROPERTY_ID=
GA_CLIENT_EMAIL=
GA_PRIVATE_KEY=
GA_MEASUREMENT_API_SECRET=
